Source: ros-rolling-mujoco-vendor
Section: misc
Priority: optional
Maintainer: Sai Kishor Kothakota <sai.kishor@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), git, libglfw3-dev, libwayland-dev, libx11-dev, libxcursor-dev, libxi-dev, libxinerama-dev, libxkbcommon-dev, libxrandr-dev, pkg-config, ros-rolling-ament-cmake, ros-rolling-ament-cmake-vendor-package, wayland-protocols, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-mujoco-vendor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ros-workspace
Description: Vendor package for MuJoCo simulator of version 3.4.0
